body {
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
}

.logstripe {
    text-align: right;
    padding: 0px;
    font-size: 0.3em;
    font-weight: bold;
    color: white;
}

.logstripe > a {
    text-decoration: underline;
}

.errormsg {
    color: crimson;
    font-weight: bold;
}

header.mainheader {
    text-align: center;
    background-color: crimson;
    padding: 10px;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

header.pageheader {
    margin:20px;
}

header a {
    color:inherit;
    text-decoration: inherit;
}

main {
    margin: 5%;
    border: 1px solid black;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

table caption {
    margin-bottom: 10px;
    font-weight: bold;
}

figcaption {
    font-weight: bold;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

td, th {
    padding: 5px;
}

section {
    margin:20px;
    border: 1px solid black;
    padding:15px;
}

.flex_container {
    display: flex;
    justify-content: space-around;
}

a {
    color: blue;
}
