<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Michał Naruniec">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Okręg {{area}} - PKW2000</title>
</head>
<body>
    <header class="mainheader">
        Wybory prezydenckie 2000
    </header>
    <main>
        <header class="pageheader"> <h1>Okręg {{area}}</h1></header>
        <section>
            <figure>
            <figcaption>Rozkład głosów</figcaption>
                <div class="line_chart">
                {% for cand in candidates %}
                    <div style="background-color: {{color[cand]}};
                        width: {{(stats[area][cand] / stats[area]['Głosy ważne'] * 100) | round(2, 'common')}}%"></div>
                {% endfor %}
                </div>
            </figure>
        </section>
    <section class="flex_container">
        <table>
            <caption>
                Statystyki głosowania
            </caption>
            <thead>
                <tr>
                    <th>Statystyka</th>
                    <th>Wartość</th>
                </tr>
            </thead>
            <tbody>
            {% for stat in stat_list %}
                <tr>
                    <td>{{stat}}</td>
                    <td>{{stats[area][stat]}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="cand_table">
            <caption>
                Wyniki kandydatów
            </caption>
            <thead>
                <tr>
                    <th>Kandydat</th>
                    <th>Kolor</th>
                    <th class="large_only">Otrzymane głosy</th>
                    <th>Procent</th>
                </tr>
            </thead>
            <tbody>
            {% for cand in candidates %}
                <tr>
                    <td>{{cand}}</td>
                    <td style="background-color: {{color[cand]}}"></td>
                    <td class="large_only">{{stats[area][cand]}}</td>
                    <td>{{(stats[area][cand]/stats[area]['Głosy ważne'] * 100) | round(2, 'common')}}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <table class="centered">
            <caption>Gminy</caption>
            <thead>
                <tr>
                    <th>Gmina</th>
                    <th>Nazwa</th>
                    {% for stat in stat_list %}
                        {% if stat == 'Uprawnieni' or stat == 'Głosy ważne' %}
                        <th class="not_small">
                        {% else %}
                        <th class="large_only">
                        {% endif %}
                        {{stat}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for subarea in children %}
                <tr>
                    <td>
                        <a href="../communes/{{subarea}}.html" title="{{subarea}}"> {{subarea}} </a>
                    </td>
                    <td>{{stats[subarea]['Gmina']}}</td>
                    {% for stat in stat_list %}
                        {% if stat == 'Uprawnieni' or stat == 'Głosy ważne' %}
                        <td class="not_small">
                        {% else %}
                        <td class="large_only">
                        {% endif %}
                        {{stats[subarea][stat]}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    </main>
</body>
</html>