{% load static %}
{% load main_filters %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Michał Naruniec">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ area }} - PKW2000</title>
</head>
<body>
    <header class="mainheader">
        Wybory prezydenckie 2000
    </header>
    <main>
    <header class="pageheader"> <h1>{{ area }}</h1></header>
    <section>
            <figure>
            <figcaption>Rozkład głosów</figcaption>
                <div class="line_chart">
                {% for cand in candidates %}
                    <div style="background-color: {{ candidate_colors|get:cand }};
                        width: {{ area|getattr:cand|div:area.valid|mul:100 }}%"></div>
                {% endfor %}
                </div>
            </figure>
        </section>
    <section class="flex_container">
        <table>
            <caption>
                Statystyki głosowania
            </caption>
            <thead>
                <tr>
                    <th>Statystyka</th>
                    <th>Wartość</th>
                </tr>
            </thead>
            <tbody>
            {% for stat in stats %}
                <tr>
                    <td>{{ stat_names|get:stat }}</td>
                    <td>{{ area|getattr:stat }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="cand_table">
            <caption>
                Wyniki kandydatów
            </caption>
            <thead>
                <tr>
                    <th>Kandydat</th>
                    <th>Kolor</th>
                    <th>Otrzymane głosy</th>
                    <th class="large_only">Procent</th>
                </tr>
            </thead>
            <tbody>
            {% for cand in candidates %}
                <tr>
                    <td>{{ candidate_names|get:cand }}</td>
                    <td style="background-color: {{ candidate_colors|get:cand }}"></td>
                    <td>{{ area|getattr:cand }}</td>
                    <td class="large_only">{{ area|getattr:cand|div:area.valid|mul:100|floatformat:2 }}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    {% if area.children %}
    <section>
        <table class="centered">
            <caption>{{ area_names_p|get:child_name }}</caption>
            <thead>
                <tr>
                    <th>{{ area_names|get:child_name }}</th>
                    {% for stat in stats %}
                        {% if stat == 'people' or stat == 'valid' %}
                        <th class="not_small">
                        {% else %}
                        <th class="large_only">
                        {% endif %}
                        {{ stat_names|get:stat }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for subarea in area.children %}
                <tr>
                    <td>
                        <a href="{% with 'main:'|add:child_name as addr %} {% url addr subarea.pk %} {% endwith %}" title="{{ subarea }}"> {{ subarea.pk }} </a>
                    </td>
                    {% for stat in stats %}
                        {% if stat == 'people' or stat == 'valid' %}
                        <td class="not_small">
                        {% else %}
                        <td class="large_only">
                        {% endif %}
                        {{ subarea|getattr:stat }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}
    </main>
</body>
</html>
