{% extends 'main/base.html' %}

{% load static %}

{% block head %}
    <title>Logowanie - PKW2000</title>
{% endblock %}

{% block main %}
    <header class="pageheader"> <h1>Logowanie</h1></header>
    {% if username %} <section class="errormsg"> Błędny login lub hasło </section> {% endif %}
    <section>
        <form method="post" action=".">
            {% csrf_token %}
            <label for="username">login: </label><input type="text" name="username" id="username" value="{{ username }}">
            <br><br><label for="password">hasło: </label><input type="password" name="password"id="password" >
            <br><br><input type="submit" value="Zaloguj">
        </form>
    </section>
{% endblock %}
