{% load static %}
{% load main_filters %}
{%  load mathfilters %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Michał Naruniec">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ area }} - PKW2000</title>
</head>
<body>
    <header class="mainheader">
        Wybory prezydenckie 2000
    </header>
    <main>
    <header class="pageheader"> <h1>{{ area }}</h1></header>
    <section>
            <figure>
            <figcaption>Rozkład głosów</figcaption>
                <div class="line_chart">
                {% for cand, color in candidates.items %}
                    <div style="background-color: {{ color }};
                        width: {{ area|getattr:cand|div:area.valid|mul:100 }}%"></div>
                {% endfor %}
                </div>
            </figure>
        </section>
    <section class="flex_container">
        <table>
            <caption>
                Statystyki głosowania
            </caption>
            <thead>
                <tr>
                    <th>Statystyka</th>
                    <th>Wartość</th>
                </tr>
            </thead>
            <tbody>
            {% for stat, verbose in statistics.items %}
                <tr>
                    <td>{{ verbose }}</td>
                    <td>{{ area|getattr:stat }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="cand_table">
            <caption>
                Wyniki kandydatów
            </caption>
            <thead>
                <tr>
                    <th>Kandydat</th>
                    <th>Kolor</th>
                    <th>Otrzymane głosy</th>
                    <th class="large_only">Procent</th>
                </tr>
            </thead>
            <tbody>
            {% for cand, color in candidates.items %}
                <tr>
                    <td>{{ cand }}</td>
                    <td style="background-color: {{ color }}"></td>
                    <td>{{ area|getattr:cand }}</td>
                    <td class="large_only">{{ area|getattr:cand|div:area.valid|mul:100|floatformat:2 }}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <table class="centered">
            <caption>Okręgi</caption>
            <thead>
                <tr>
                    <th>Okręg</th>
                    {% for stat, verbose in statistics.items %}
                        {% if stat == 'people' or stat == 'valid' %}
                        <th class="not_small">
                        {% else %}
                        <th class="large_only">
                        {% endif %}
                        {{ verbose }}</th>
                    {% endfor %}
                    <th>Głosy ważne</th>
                </tr>
            </thead>
            <tbody>
            {% for subarea in area.children %}
                <tr>
                    <td>
                        <a href="{% url 'main:district' subarea.id %}" title="{{ subarea }}"> {{ subarea }} </a>
                    </td>
                    {% for stat, verbose in statistics.items %}
                        {% if stat == 'people' or stat == 'valid' %}
                        <td class="not_small">
                        {% else %}
                        <td class="large_only">
                        {% endif %}
                        {{ subarea|getattr:stat }}</td>
                    {% endfor %}
                <td>{{ area.cards }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    </main>
</body>
</html>
