{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Michał Naruniec">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="mainheader">
        <div class="logstripe">
        {% if request.user.is_authenticated %}
            {{ request.user.username }} <a href="{% url 'main:logout' %}" title="logout">Wyloguj</a>
        {% else %}
            <a href="{% url 'main:login' %}" title="login">Zaloguj</a>
        {% endif %}
        </div>
        <a href="{% url 'main:index'%}" title="index">Wybory prezydenckie 2000</a>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>
